@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
/* font-family: 'Poppins', sans-serif;  */
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
